# Makefile for libgeneric_protocol
# Copyright (C) 2018 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = generic_protocol

LIB_BOOST_LIB_NAMES :=

LIB_SRCC = \
	exported_parser.cpp \
	csv_helper.cpp \
	parser.cpp \
	validator.cpp \
	str_helper.cpp

LIB_EXT_LIB_NAMES = \
	basic_parser \
	generic_request \
	utils \
